* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Roboto", "Crete Round", "Helvetica Neue", sans-serif, serif;
}

body {
  position: relative;
  width: 375px;
  height: 7160px;
  background: rgb(199, 197, 197);
}

.top {
  position: absolute;
  justify-content: space-around;
  width: 375px;
  height: 92px;
  background-color: #3c3a39;
}

#name {
  font-family: "Roboto", Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding-left: 15px;
  display: flex;
  padding-top: 45px;
  color: #fff;
  text-decoration: none;
}

.ham {
  position: absolute;
  width: 18px;
  height: 12px;
  bottom: 30px;
  right: 15px;
}

.home {
  display: flex;
  background-color: #1c1a19;
  background-image: url("img/Illustration.png");
  background-repeat: no-repeat;
  background-position: bottom -50px right;
  width: 375px;
  height: 590px;
  position: relative;
  top: 92px;
}

.container {
  display: flex;
  flex-direction: column;
  top: 92px;
  margin-left: 24px;
  margin-right: 24px;
  width: 375px;
  height: 590px;
}

.heading {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  margin-bottom: 5px;
  margin-top: 115px;
  color: #ff6b00;
}

.sub-heading {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  margin-top: 10px;
  margin-bottom: 10px;
}

.description {
  font-family: "Poppins", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 2px;
  color: #fff;
}

.media-icon ul {
  display: flex;
  list-style-type: none;
  column-gap: 30px;
  padding-left: 10px;
  margin-top: 12px;
}

.work-container {
  width: 375px;
  height: 4000px;
  padding: 120px 24px;
  background: #fff;
}

.portfolio {
  height: 3455px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio h2 {
  font-size: 40px;
  margin-top: 80px;
  font-family: "Crete Round", sans-serif;
  font-weight: 400;
  align-items: flex-start;
  transition: .5s;
}

.portfolio h2:hover {
  font-size: 35px;
}

hr {
  width: 327px;
  margin: 40px;
  border: 1px solid #212121;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  left: 0;
  margin-top: 20px;
}

.card h2 {
  font-size: 32px;
  margin-top: 12px;
  margin-bottom: 12px;
  font-family: "Crete Round", sans-serif;
  font-weight: 400;
  line-height: 44px;
}

.card p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 20px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: #091e42;
}

.tools {
  display: flex;
  gap: 15px;
  margin-bottom: 12px;
}

.tools ul {
  transition: background 1s, transform 1s ease-in-out;
}

.tools ul:hover {
  background-color: #daa520;
  transform: rotate(360deg);
} 

.card ul {
  background: rgb(255, 255, 255);
  padding: 10px;
  border: 1px solid #ccc;
}

.btn {
  width: 124px;
  padding: 10px 20px;
  background: #ff6b00;
  color: #fff;
  border: none;
  font-size: 15px;
}

.btn:hover {
  background-color: #002ead;
  transition: 0.7s;
}

.card-2 {
  background: url(img/Img-2.png);
  background-repeat: no-repeat;
  width: 327px;
  height: 386px;
  padding: 104px 16px;
  border: 1px solid #ccc;
  margin-top: 30px;
}

.card-2 h2,
.card-2 p {
  color: #fff;
}

.card-2 h2 {
  font-size: 32px;
  font-family: "Crete Round", sans-serif;
}

.card-2 ul {
  background: rgba(255, 255, 255, 0.24);
  border: none;
  color: #fff;
}

.btn2 {
  width: 327px;
  padding: 16px;
  background: #ff6b00;
  color: #fff;
  border: none;
  margin-top: -2px;
  font-size: 15px;
}

.btn2:hover {
  background-color: cornflowerblue;
  transition: 0.5s;
}

.about-me {
  position: absolute;
  background: #000;
  width: 375px;
  height: 1901px;
  left: 0;
  margin-top: 180px;
  background-image: url(img/Frame.png);
  background-repeat: no-repeat;
  background-position: top 395px right 0%;
}

.about-me h2 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  margin-bottom: 4px;
  color: #ff6b00;
  margin-top: 120px;
  margin-left: 24px;
}

.about-me p {
  width: 327px;
  height: 148px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-top: 20px;
  line-height: 24px;
  color: #f4f5f7;
  margin-bottom: 0%;
  margin-left: 24px;
}

.btn3 {
  padding: 16px 30px;
  background: #ff6b00;
  color: #fff;
  border: none;
  margin-top: 20px;
  margin-left: 24px;
}

.btn3:hover:hover {
  background-color: #daa520;
  transition: 0.4s;
}

.hr2 {
  display: flex;
  position: absolute;
  width: 327px;
  margin-top: 220px;
  margin-left: 24px;
  border: 1px solid #fff;
}

.exp {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
}

.program-lang,
.framework,
.skills {
  display: flex;
  color: #fff;
  text-decoration: none;
  padding-bottom: 44px;
  font-family: "Crete Round", sans-serif;
  font-size: 32px;
}

.program-lang2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 32px;
}

.program-lang2 ul {
  align-self: center;
}

.program-lang {
  display: flex;
  justify-content: center;
  width: 200px;
  background-image: url(img/Rectangle\ 55.png);
  background-repeat: no-repeat;
  background-position: bottom 50px right 170px;
  padding-left: 20px;
}

.skills {
  display: flex;
  justify-content: center;
  width: 155px;
  background-image: url(img/Rectangle\ 57.png);
  background-repeat: no-repeat;
  background-position: bottom 52px right 130px;
}

.framework {
  display: flex;
  justify-content: center;
  width: 227px;
  background-image: url(img/Rectangle\ 56.png);
  background-repeat: no-repeat;
  background-position: bottom 55px right 210px;
  padding-left: 10px;
}

.program-lang li,
.framework li,
.skills li {
  list-style-type: none;
  color: #fff;
  text-decoration: none;
}

.program-lang2 li {
  list-style-type: none;
  padding-bottom: 32px;
  text-align: center;
}

.card ul li {
  text-decoration: none;
  list-style: none;
}

.program-lang2 a {
  color: #fff;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 400;
}

/* -------------------contact form section--------------------- */

.contact-form {
  position: absolute;
  width: 375px;
  height: 844px;
  left: 0;
  top: 6038px;
  margin-top: 200px;
  background-color: #ffff;
}

.form-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 120px 24px 0 24px;
  gap: 24px;
  width: 327px;
  height: 216px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  margin: 34px 24px;
  width: 327px;
  height: 330px;
}

.form-list {
  width: 327px;
  height: 48px;
  margin: 0 24px;
  padding: 16px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #979493;
}

.form input:nth-child(1) {
  margin-top: 24px;
  border: none;
  border-bottom: 1px solid #dbd8d7;
}

.form input:nth-child(2) {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 131px;
  height: 48px;
  border: none;
  background: #ff6b00;
  cursor: pointer;
}

textarea {
  width: 327px;
  height: 114px;
  margin-top: 24px;
  margin-left: 24px;
  background: #fbf8f7;
  padding: 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  border: none;
  color: #3c3a39;
}

.submit {
  width: 107px;
  height: 24px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
}

.form input:nth-child(2):hover {
  background-color: cornflowerblue;
  transition: 0.2s;
}

/* -----------------------------Media Icon section--------------------- */

.media-icon2 {
  position: absolute;
  width: 375px;
  height: 72px;
  left: 0;
  top: 7081px;
  background-color: #fff;
  border-top: 1px solid #dfe1e6;
}

.media-icon2 ul {
  display: flex;
  justify-content: center;
  margin: 18px 88px;
}

.media-icon2 ul li a {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.hr3 {
  position: absolute;
  width: 134px;
  height: 5px;
  bottom: -30px;
  margin-left: 118px;
  background: #0d151e;
  border-radius: 10px;
}
